mat-card.chart-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chart-wrapper {
    position: relative;
    width: 80%;
    height: 80%;
  }
  
  canvas#newcustomerchart {
    width: 100%;
    height: 100%;
  }
  